<launch>
  <remap from="/cmd_vel" to="/krabby/cmd_vel"/>
  <remap from="/odom_sub" to="/krabby/odom"/>
<!-- <remap from="/scan" to="/krabby/scan"/>-->
<!-- <remap from="/krabby/scan" to="/scan"/>-->
  <node name="main_strategy_node" pkg="main_strategy" type="main_strategy_node" />
  <node name="goal_strategy_node" pkg="goal_strategy" type="goal_strategy_node" />
  <node name="lidar_strategy_node" pkg="lidar_strategy" type="lidar_strategy_node" />
  <node pkg="tf" type="static_transform_publisher" name="odom_simu_link" args="0 0 0.01 0 0 0 /krabby/odom /odom 50"/>
<node pkg="tf" type="static_transform_publisher" name="neato_simu" args="0 0 0 0 0 0 /krabby/neato_laser /neato_laser 50"/>
<node pkg="tf" type="static_transform_publisher" name="base_link_simu" args="0 0 0 0 0 0 /krabby/base_link /base_link 50"/>
</launch>

