<launch>
    <arg name="init_pose/x" default="0.0"/>
    <arg name="init_pose/y" default="0.0"/>
    <arg name="init_pose/theta" default="0.0"/>

    <param name="init_pose/x" value="$(arg init_pose/x)" />
    <param name="init_pose/y" value="$(arg init_pose/y)" />
    <param name="init_pose/theta" value="$(arg init_pose/theta)" />

    <node name="main_strategy_node" pkg="main_strategy" type="odometry_node" ns="krabby" />
</launch>

